.carro {
    background-color: white;
    padding: 5px;
    border-radius: 5px 0px 5px 5px;
    margin-top: 3%;
}

.items_carro {
    background-color: white;
    text-align: center;
    width: 7%;
    color: black;
    padding: 1px;
    border-radius: 0px 5px 5px 0px;
    margin-top: 3%;
}